
<%- include('../partials/nav') %>
<br>
<h1>Edit Goal</h1>
<br>
<div class="container-sm">
    <form action="/goals/edit/<%= goal._id %>?_method=PATCH" method="POST">
        <fieldset>
            <label class="editForm form-label">Subject Area:</label>
                <select class="subSelect" name="subject" selected="<%= goal.subject %>" required="true">
                    <option value="Choose Subject">Choose A Subject</option>
                    <option value="Reading">Reading</option>
                    <option value="Writing">Writing</option>
                    <option value="Math">Math</option>
                    <option value="Behavior">Behavior</option>
                    <option value="Speech and Language">Speech and Language</option>
                    <option value="Life Skills">Life Skills</option>
                    <option value="Occupational Therapy">Occupational Therapy</option>
                    <option value="Physical Therapy">Physical Therapy</option>
                    <option value="Assistive Technology">Assistive Technology</option>
                    <option value="Social Skills">Social Skills</option>
                    <option value="Social Emotional">Social Emotional</option>
                    <option value="Vocational">Vocational</option>
                </select>      
                <br>  
            <label class="updateHere form-label">Make Your Updates Below:</label>
            <textarea type="text" class="editHere form-control" name="desc"><%= goal.desc %></textarea>
            <br>
            <input type="submit" class="btn btn-light btn-lg" value="Confirm Edit">
        </fieldset>
    </form>
</div>

<%- include('../partials/footer') %>