<%- include('../partials/nav') %>
<br>
<h1>Goal Details</h1>
<h4><%= goal.desc %></h4>
<br>
<% if (user) {%>
    <div>
        <a class="btn btn-light btn-lg d-grid gap-2 col-3 mx-auto" href="/goals/edit/<%= goal._id %>" role="button">Edit This Goal</a>
    </div>
 <% } %>
<br>
<hr>
<br>
<h5>Objective List:</h5>
<div class="container-md">
    <% if (goal.objectives.length) { %>
        <div class="container-sm m-2">
            <% goal.objectives.forEach(obj => {%>
                <div class="card mb-3 shadow">
                    <div class="card-body">
                        <p><%= obj.desc %></p>
                        <div class="d-flex justify-content-between">

                            <% if (user && obj.author?._id == user.id) { %>
                                <form action="/objectives/<%= goal._id %>/<%= obj._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="deleteObj btn btn-danger btn-sm position-absolute top-50 end-0 translate-middle-y" value="X">
                                </form>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>No Objectives Yet</p>
    <% } %>
</div>

<hr>
<br>
 <% if (user) { %>
    <div class="col-md-6">
        <form action="/objectives/goals/<%= goal._id %>" method="POST">
            <fieldset>
                <legend>Add A New Objective To This Goal</legend>
                <label class="objDesc form-label">Objective Description:</label>
                <textarea class="objInfo form-control mb-1" type="text" name="desc" placeholder="Enter your objective here."></textarea>
                <br>
                <input type="submit" class="btn btn-light btn-lg" value="Create Objective">
            </fieldset>
        </form>
    </div>
<% } %>

<%- include('../partials/footer') %>